<div class="comment">
  <h4><%= comment.id %>
  score: <div class="score_display"><%= comment.score %></div>
  <% if current_user %>
  <form action="/comment/<%= comment.id %>/vote" method="POST">
    <input type="submit" class="vote_btn" value="Vote!">
  </form>
  <% end %>
  </h4>
  <div>
    <%= erb :'comment/_buttons', locals: {comment: comment} %>
    <p><%= comment.text %></p>
    <p>written by <%= comment.user.try(:name) %></p>
  </div>

  <% if user_can_edit? comment %>
    <div class='edit_box'>
      <%= erb :'comment/_update_form', locals: {comment: comment} %>
    </div>
  <% end %>

  <div class='reply_box'>
  <%= erb :'comment/_new_form', locals: {parent_id: comment.id, sub: comment.sub} %>
  </div>

  <a href="/comments/new?parent_id=<%= comment.id %>&sub_id=<%= comment.sub.id %>" class="reply_link">Reply</a>

  <ol class="children">
    <% unless comment.children.empty? %>
      <% comment.children.each do |child| %>
        <li><%= erb :'/comment/single', locals: {comment: child} %></li>
      <% end %>
    <% end %>
  </ol>
</div>
