<div class="comment">
  <h4><%= comment.id %>
  score: <%= comment.score %>
  <% if current_user %>
  <form action="/comment/<%= comment.id %>/vote" method="POST">
    <input type="submit" value="Vote!">
  </form>
  <% end %>
  </h4>
  <div>
    <%= erb :'comment/_buttons', locals: {comment: comment} %>
    <p class="comment_content"><%= comment.text %></p>
    <p>written by <%= comment.user.try(:name) %></p>
  </div>
  <div class="edit_form">
  <%= erb :'comment/_update_form', locals: {comment: comment} %>
  </div>

  <a href="/comments/new?parent_id=<%= comment.id %>&sub_id=<%= comment.sub.id %>" class="reply_link">Reply</a>

  <div class="reply_form">
  <%= erb :'comment/_new_form', locals: {sub: comment.sub, parent_id: comment.id} %>
  </div>

  <ol class="children">
    <% comment.children.each do |child| %>
      <li><%= erb :'/comment/single', locals: {comment: child} %></li>
    <% end %>
  </ol>
</div>
