<div class="comment">
  <h4><%= comment.id %>
  <% if current_user %>
  <form action="/comment/<%= comment.id %>/vote" method="POST">
    <input type="submit" value="Vote!">
  </form>
  <% end %>
  </h4>
  <div>
    <div class="comment_buttons">
    <form action="/comment/<%= comment.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input class="fa fa-camera-retro" type="submit" value="Delete">
    </form>
    <a href="/comment/<%= comment.id %>/edit">Edit</a>
    </div>
  <p><%= comment.text %></p>
  <p>written by <%= comment.username %></p>
  <div>

  <% unless comment.children.empty? %>
  <ol class="children">
    <% comment.children.each do |child| %>
      <li><%= erb :'/comment/single', locals: {comment: child} %></li>
    <% end %>
  </ol>
  <% end %>
</div>
