<div class="comment">
  <%= display_error %>
  <h4><%= comment.id %>
  score: <%= comment.score %>
  <% if current_user %>
  <form action="/comment/<%= comment.id %>/vote" method="POST">
    <input type="submit" value="Vote!">
  </form>
  <% end %>
  </h4>
  <div>
    <%= erb :'comment/_buttons', locals: {comment: comment} %>
    <p><%= comment.text %></p>
    <p>written by <%= comment.user.name %></p>
  </div>

  <% unless comment.children.empty? %>
  <ol class="children">
    <% comment.children.each do |child| %>
      <li><%= erb :'/comment/single', locals: {comment: child} %></li>
    <% end %>
  </ol>
  <% end %>
</div>
